#menu {
  position: absolute; /* Botão não fixado */
  top: 20px;
  right: 20px; /* Move o botão para a direita */
  z-index: 1001;
  background: #2D815D;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#menu:hover {
  background: #09613B;
}

/* Estilo da barra lateral */
#barra {
  position: fixed;
  top: 0;
  right: -250px; /* Fora da tela inicialmente, do lado direito */
  width: 250px;
  height: 100%;
  background: #fff; /* Fundo branco */
  color: #333; /* Texto cinza escuro */
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra no lado esquerdo */
  transition: right 0.3s ease; /* Animação suave */
  z-index: 1000;
  border-left: 1px solid #ddd; /* Adiciona uma borda leve na lateral esquerda */
}

#barra.active {
  right: 0; /* Mostra o menu quando ativo */
}

#barra h2 {
  margin-bottom: 20px;
  color: #2D815D; /* Verde do botão */
}

#barra #perfil {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#barra #perfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#barra ul {
  list-style: none;
  padding: 0;
}

#barra ul li {
  margin: 50px 0; /* Maior espaçamento entre os itens */
}

#barra ul li a {
  text-decoration: none;
  color: #2D815D; /* Verde do botão */
  font-size: 18px;
}

#barra ul li a:hover {
  text-decoration: underline;
}
